{% extends "../layouts/app.html" %}

{% block title %} Pegawai Pensiun {% endblock title %}

{% block nav-menu-open-pensiun %} menu-open {% endblock %}

{% block nav-active-pensiun %} active {% endblock %}

{% block content-header-page %}
<li class="breadcrumb-item"><a href="{% url 'kepegawaian:indexSkPensiun' %}">Pegawai Pensiun</a></li>
<li class="breadcrumb-item active">Detail Pegawai Pensiun</li>
{% endblock content-header-page %}

{% block content %}
<style> i.ihover{color: rgb(164, 44, 44);}i.ihover:hover{color: rgb(228, 79, 79);}</style> 
<div class="row">
    <!-- Left col -->
<section class="col-lg-12 connectedSortable">
      <!-- Custom tabs (Charts with tabs)-->
    <!-- Detail Pegawai -->
    <div class="card card-outline card-success">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-id-card mr-1"></i>
                    Surat Pensiun No : {{object.sk_pensiun}}
                </h3>
                </div><!-- /.card-header -->
                <div class="card-body">
                    <div class="tab-content p-0">
                        <!-- Morris chart - Sales -->
                    <div class="tab-pane active">
                        <p class="font-weight-bold">Nama Pegawai : {{object.nupy.nama_pegawai}}</p>
                        {% include "./formedit.html" %}
                    </div> 
                    </div>
                </div><!-- /.card-body -->
            </div>    
      <!-- Detail Jabatan -->
</section>
    <!-- /.Left col -->
  </div>
  
{% endblock content %}