<form action="{% url 'kepegawaian:addSkPensiun'%}" method="POST">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="namapegawai">Nama Pegawai</label>
          <select name="nupy" class="form-control" required>
            <option value="">Daftar Pegawai</option>
            {% for pegawai in pegawai_list %}
            <option value="{{pegawai.nupy}}">{{pegawai.nama_pegawai}}</option>
            {% endfor %}
          </select>
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">No Surat Pensiun</label>
        <div class="form-row">
            <div class="col">
              <input type="text" maxlength="4"  name="nops1" class="form-control" autofocus required>
            </div>
            <div class="col">
              <input type="text" name="nops2" class="form-control" required maxlength="4">
            </div>
            <div class="col">
                <input type="text" name="nops3" class="form-control" required maxlength="3">
            </div>
            <div class="col">
                <input type="text" name="nops4" class="form-control" required maxlength="3">
            </div>
            <div class="col">
                <input type="text" name="nops5" class="form-control" required maxlength="5">
            </div>
        </div>
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
          <label>Tanggal Pensiun</label>
          <input type="date" name="tanggal_pensiun" class="form-control" required>
        </div>
        <div class="form-group col-md-3">
            <label>Usia(Th)</label>
            <input type="number" name="usia" class="form-control" placeholder="60" min="0" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==2) return false;" required>
          </div>
        <div class="form-group col-md-6">
            <label for="ket_pensiun">Keterangan Tambahan</label>
            <textarea name="ket_pensiun" class="form-control" rows="2" id="ket_pensiun" placeholder="....." required></textarea>
        </div>
      </div>
    <button type="submit" class="btn btn-primary float-right" onclick="return confirm('Are You Sure? Status Pegawai Will Be Changed to Pensiun')">Tambah Data</button>
  </form>