<form action="{% url 'kepegawaian:editUniversitas'%}" method="POST" class="row g-3">
    {% csrf_token %}
    <div class="col-auto ">
        <label for="inputPassword4">Nama Universitas / Sekolah</label>
      </div>
      <div class="col-auto ">
        <input type="hidden" name="id_universitas" value="{{object.id_universitas}}">
        <input type="text" name="universitas" class="form-control" value="{{object.universitas}}" autofocus required>
      </div>
      <div class="col-auto ">
        <button type="submit" class="btn btn-success">Edit</button>
      </div>
  </form>  