<input type="hidden" name="length" value="{{jabatans|length}}">
{% load humanize %}
{% for jabatan in jabatans %}
<tr>
<td>{{ jabatan.jabatan.nama_jabatan }} / {{jabatan.jabatan.gaji_pokok|intcomma}}<input type="hidden" name="jabatan{{ forloop.counter }}" class="form-control" value="{{ jabatan.jabatan.id_jabatan }}" required>
</td>
<td>
    <input type="number"  min="0" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==9) return false;" name="kuantitas{{ forloop.counter }}" class="form-control" value="0" autofocus required>
    <figcaption class="blockquote-footer">
        <small  class="text-muted">Satuan Gaji Pokok</small>
      </figcaption>
</td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
{% endfor %}
