{% extends "../layouts/app.html" %}

{% block title %} Pegawai {% endblock title %}

{% block navmenuopenpegawai %} menu-open {% endblock navmenuopenpegawai %}

{% block navactivepegawai %} active {% endblock navactivepegawai %}

{% block subnavactivepegawai %} active {% endblock subnavactivepegawai %}

{% block content-header-page %}
<li class="breadcrumb-item"><a href="{% url 'kepegawaian:indexPegawai' %}">Pegawai</a></li>
<li class="breadcrumb-item active"></li>
{% endblock content-header-page %}

{% block print %}
<a href="{% url 'kepegawaian:printPegawai' %}" title="Print Data Pegawai" target="_blank" class="dropdown-item"><i class="fas fa-print" style="color: rgb(0, 0, 0);"></i> Print</a>
{% endblock print %}

{% block content %}
<style> i.ihover{color: rgb(164, 44, 44);}i.ihover:hover{color: rgb(228, 79, 79);}</style> 
<div class="row">
    <!-- Left col -->
    <section class="col-lg-12 connectedSortable">
      <!-- Custom tabs (Charts with tabs)-->
      <div class="card card-outline card-success">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-users mr-1"></i>
            Data Pegawai
          </h3>
        <div class="card-tools">
          <ul class="nav nav-pills ml-auto">
            <li class="nav-item">
              <a class="nav-link active" title="Daftar Pegawai" href="#data-pegawai" data-toggle="tab"><i class="fas fa-ellipsis-v"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" title="Tambah Pegawai" href="#tambah-pegawai" data-toggle="tab"><i class="fas fa-plus"></i></a>
            </li>
          </ul>
        </div>
          </div><!-- /.card-header -->
        <div class="card-body">
          <div class="tab-content p-0">
            <!-- Morris chart - Sales -->
                <div class="tab-pane active" id="data-pegawai">
                    <div class="app-table">
                      <table id="example1" class="table table-striped table-hover table-sm table-responsive-md">
                        <thead>
                          <tr>
                            <th scope="col">No</th>
                            <th scope="col">Nama Pegawai</th>
                            <th scope="col">NUPY</th>
                            <th scope="col" style="width: 22%;">Alamat</th>
                            <th scope="col">Foto</th>
                            <th scope="col" style="text-align: right;">Aksi</th>
                          </tr>
                        </thead>
                        <tbody>                       
                        {% for pegawai in object_list%}
                          <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{pegawai.nama_pegawai}}</td>
                            <td><a href="{% url 'kepegawaian:detailPegawai' pegawai.nupy %}" title="Detail Pegawai" class="ahover">{{pegawai.nupy}}</a></td>
                            <td>{{pegawai.alamat}}</td>
                            <td><img src="{{pegawai.foto.url}}" alt="Foto Pegawai" width="70" height="80"></td>
                            <td style="text-align: right;">                 
                                <a href="{% url 'kepegawaian:deletePegawai' pegawai.nupy %}" title="Delete Pegawai" onclick="return confirm('Delete Pegawai Nupy: {{pegawai.nupy}} and All of Its Component?')" class="btn btn-sm hover"><i class="fas fa-trash-alt ihover"></i></a>
                            </td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  
                  <div class="pagination-container">
                    <nav aria-label="Page navigation" class="float-right">
                      <ul class="pagination pagination-sm">
            
                        {% if page_obj.has_previous %}
                          <li class="page-item">
                              <!-- <a href="?page=1">&laquo; first</a> -->
                              <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                          </li>
                        {% else %}
                          <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><span aria-hidden="true">&laquo;</span></a>
                          </li>
                        {% endif %}
          
                        {% for num in page_obj.paginator.page_range %}
                          {% if page_obj.number == num %}
                          <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                          <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                          {% endif %}
                        {% endfor %}
          
                        {% if page_obj.has_next %}
                          <li class="page-item">
                          <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a>
                          </li>
                        {% else %}
                          <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><span aria-hidden="true">&raquo;</span></a>
                          </li>
                        {% endif %}
                      </ul>
                    </nav>  
                  </div>

                </div>
            <div class="tab-pane" id="tambah-pegawai">
              {% include "./formtambah.html" %}                       
            </div>  
          </div>
        </div><!-- /.card-body -->
      </div>
      </div>
      <!-- /.card -->
    </section>
    <!-- /.Left col -->
  </div>
{% endblock content %}