{% extends "kepegawaian/layouts/app.html" %}

{% block title %} Home {% endblock title %}

{% block nav-menu-open-home %} menu-open {% endblock nav-menu-open-home %}

{% block nav-active-home %} active {% endblock nav-active-home %}

  {% block content %}

  <div class="row">
      <!-- Left col -->
      <section class="col-lg-12 connectedSortable">
        <!-- Custom tabs (Charts with tabs)-->
        <h1><strong>Sistem Informasi Kepegawaian</strong> | Yayasan Shine Al-falah</h1>
        <a href="../users/">Manage Users</a>
        </div>
        <!-- /.card -->
      </section>
      <!-- /.Left col -->
    </div>
  {% endblock content %}