<form action="{% url 'kepegawaian:editSkMutasiKeluar'%}" method="POST">
    <input type="hidden" name="id_surat_mutasi_keluar" value="{{object.id_surat_mutasi_keluar}}">
    <input type="hidden" name="sk_mutasi_keluar" value="{{object.sk_mutasi_keluar}}">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="tanggal">Nupy</label>
            <input type="text" name="nupy" class="form-control"  value="{{object.nupy.nupy}}" readonly required>
        </div>
        <div class="form-group col-md-3">
          <label for="tanggal">Tanggal Mutasi Keluar</label>
          <input type="date" name="tanggal_mutasi_keluar" class="form-control" value="{{object.tanggal_mutasi_keluar|date:'Y-m-d'}}" required>
        </div>
        <div class="form-group col-md-6">
            <label for="ket_mutasi_keluar">Keterangan Tambahan</label>
            <textarea name="ket_mutasi_keluar" class="form-control" rows="2" id="ket_mutasi_keluar" required>{{object.ket_mutasi_keluar}}</textarea>
        </div>
      </div>
    <button type="submit" class="btn btn-success float-right">Edit Data</button>
  </form>